/*==========NORMALIZE==========*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #121212;
}
a:visited, a:focus, a:hover{
	color: #121212;
}
li{
	list-style: none;
}

/*==========COMMON==========*/
.container{
	font-family: 'Roboto', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.light{
	color: #121212;
	background-color: #fefefe;
}
.dark{
	color: #fefefe;
	background-color: #1d1d1d;
}
.body{
	background-color: #1d1d1d;
}
.main{
	padding-top: 3.8125rem;
}
h1, h2 {
	font-weight: 400;
	text-align: center;
	font-size: 3rem;
}
h2{
	text-transform: uppercase;
	margin: 3.8125rem 0;
}
.anchor{
	border-top: 3.8125rem solid transparent;
	margin-top: -3.8125rem;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
/*==========HEADER==========*/
header{
	position: fixed;
	width: 100%;
	z-index: 2;
}
.nav-logo{
display: flex;
align-items: center;
}
.logo{
	font-size: 3rem;
	padding: 0 1rem;
}
nav ul {
	display: flex;
}
.nav-item{
	text-transform: uppercase;
	padding: 1rem;
	padding-left: 0;
}
.nav-item:last-child{
	padding-right: 0;
}
.nav-item a{
	font-size: 1.5rem;
	font-weight: 700;
	color: #898888;
	border-bottom: 2px solid #fff;
	transition: color 0.3s linear, border 0.3s linear; 
}
.nav-item a:hover{
	color: #121212;
	border-bottom: 2px solid #121212;
}

/*==========INTRODUCTION==========*/
.introduction{
	height: 100vh;
}
.aim{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.avatar{
	display: flex;
	height: calc(100vh - 3.8125rem);
	align-items: flex-end;
}

.aim-description h1{
	font-size: 3rem;
	margin-bottom: 0.5rem;
}
.aim-description h2{
	font-size: 1.5rem;
	margin-top: 0;
	color: #898888;
	text-transform: uppercase;
	margin-bottom: 3.75rem;
}
.aim-description p{
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.8rem;
	margin-bottom: 3.75rem;
}
.aim-contacts{
	font-size: 1.5rem;
	text-align: center;
}
ion-icon{
	padding: 0.25rem;
	font-size: 2rem;
	color: #fff;
	background-color: #898888;
	border-radius: 0.5rem;
	margin: 0.5rem;
	transition: background-color 0.2s linear, color 0.2s linear;
}
ion-icon[name=logo-instagram]{
	transition: none;
}
ion-icon[name=logo-linkedin]{
	padding: 0;
	font-size: 2.9rem;
	margin-bottom: 0.3rem;
	color: #898888;
	background-color: #fff;
}
ion-icon[name=logo-vk]:hover{
	background-color: #5181b8;
}
/*fix transition with linear gradient*/
ion-icon[name=logo-instagram]:hover{
	background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
ion-icon[name=logo-linkedin]:hover{
	color: #027ab5;
}
ion-icon[name=mail-outline]:hover{
	background-color: #1a8dcd;
}

/*==========EDUCATION==========*/
.education .container{
	flex-direction: column;
}
.education h2{
	font-weight: 400;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0;
	margin-left: -110px;
}
.timeline {
	position: relative;
	margin: 0 auto;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #fefefe;
	top: -46px;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.timeline-item {
	padding: 10px 20px;
	position: relative;
	width: 70%;
}
.timeline-item::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: -17px;
	background-color: #1d1d1d;
	border: 4px solid #fefefe;
	top: 50%;
	margin-top: -12px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: -20.1%;
}
.right {
	left: 50%;
}
.right::after {
	left: -16px;
}
.content {
	padding: 20px 30px;
	position: relative;
}
.content p.year{
	font-size: 3rem;
	line-height: 3.5rem;
}
.left .year{
	text-align: right;
}
.content p{
	font-size: 1rem;
	line-height: 1.375rem;
}
@media screen and (max-width: 780px) {
.timeline::after {
	left: 31px;
	top: -58px;
}
.timeline-item {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
}
.left::after, .right::after {
	left: 15px;
}
.left{
	left: 0%;
}
.right {
	left: 0%;
}
.left .content h2{
	text-align: left;
}
}

/*==========WORK EXPERIENCE==========*/
.work-experience .container{
	flex-direction: column;
}
.work p{
font-size: 1.5rem;
line-height: 2.5rem;
}
.work p:last-child{
	margin-bottom: 2rem;
}

/*==========SKILLS==========*/
.skills {
  clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
}
.skills .container{
	flex-direction: column;
	justify-content: center;
}
.skills h2{
	margin-top: 8rem;
}
.skills-inner{
	margin-bottom: 8rem;
}
.skill{
	margin: 2rem;
	transform: scale(1);
	transition: transform 0.2s linear;
}
.skill:hover{
	transform: scale(0.9);
}
.skills-inner-row{
	display: flex;
	justify-content: center;
}